{
  "root": true,
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 4
}
